/* remove default margin and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* all page variables */
:root {
    --primary-color: #f2f2f2;
    --secondary-color:#b3b3cc;
    --tertiary-color:#32324e;
}

/* body and section defaults */
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}
/* grid: about me/ work/ contact */
.grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 50px;
}
section {
    padding: 50px;
    display: flex;
}
.section-title {
    font-size: 36px;
    text-align: right;
    border-right: 3px solid var(--tertiary-color);
    padding-right: 10px;
}

/* header */
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    /* note: correlates with hero */
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header a {
    text-decoration: none;
    font-weight: bold;
    color: var(--tertiary-color);
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 25px;
    /* note: correlates with hero h3 */
    font-weight: lighter;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 8px;
    text-shadow: none;
}

/* hero */
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 25px; 
    /* note: correlates with header */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.hero h3 {
    padding: 25px; 
    /* note: correlates with navigation links */
    background-color: var(--secondary-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

/* about me section */
#about-me div {
    display: flex;
    justify-content: space-evenly;
}
#about-me p {
    line-height: 1.5;
}
#about-me img {
    max-width: 100px;
    max-height: 150px;
    margin: 0 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* work section */
.projects {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
    
}
.project {    
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 20px 20px 10px 0;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    min-width: 300px;
    flex: 1;
    aspect-ratio: 4/3;
    border-radius: 5px;
}
.project a {
    text-decoration: none;
}
.project:hover {
    opacity: 0.5;  
}
.project-img {
    width: 100%;
    border-style: solid;
    border: 5px;
}
.project-text {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 5px;
    border-style: solid;
    line-height: 1.2;
    border-radius: 3px;
}
.project-one {
    background-image: url(../images/beach-photo1.jpg);
    background-size: cover;
    background-position: center;
}
.project-two {
    background-image: url(../images/arrowhead-photo.jpg);
    background-size: cover;
    background-position: center;
}
.project-three {
    background-image: url(../images/flower.jpg);
    background-size: cover;
    background-position: center;
}
.project-four {
    background-image: url(../images/mars_artist_PIA14832_thumb.jpg);
    background-size: cover;
    background-position: center;
}
.project-five {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
}
.project-five a {
    display: block;
    width: 100%;
    height: 100%;
}

/* contact me section */
#contact {
    display: flex;
    align-items: center;
}
.contact-me ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.contact-me ul li {
    padding: 0 80px 0 00px;
    font-size: 16px;
}

/* media queries */
@media screen and (max-width: 980px) {
    .project {    
        flex: 0 70%;   
    }
    .contact-me ul li {
        padding: 0 25px 0 25px;
    }
}

/* note: remove grid at this size */
@media screen and (max-width: 768px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section {
        padding: 25px 50px 25px 50px;
        display: flex;
    }
    .section-title {
        border-bottom: 3px solid var(--tertiary-color);
        padding-right: 0;
        border-right: none;
    }
    header {
        justify-content: center;
    }
    header h1 {
        flex: 100%;
        text-align: center;
        margin: 10px;
    }
    #about-me div {
        flex-wrap: wrap;
    }
    #about-me img {
        margin: 0 0 25px 0;
    }
    .projects {
        justify-content: center;
    }
    .contact-me ul {
        justify-content: center;
    }
    .contact-me ul li {
        padding: 0 25px 0 25px;
    }
}


@media screen and (max-width: 575px) {
    section {
        padding: 25px 50px 25px 50px;
    }
    header nav ul li {
        flex: 100%;
        text-align: center;
        margin: 5px auto;
    }
    .contact-me ul li {
        margin: 5px auto;
    }
}
